@{
    ViewBag.Title = this.Lang().team;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var team = ViewBag.Team;
    var project = ViewBag.Project;
    var util = new CodeSharp.Core.Utils.Serializer();
}
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row-fluid">
        <!--leftbar-->
        @{ Html.RenderLeftBar(); }
        <!--Main-->
        <div id="main" class="span6">
            @{ Html.RenderPartial("MainRegion"); }
        </div>
        <!--Detail-->
        <div id="detail_wrapper" class="span4">
        </div>
    </div>
</div>
<!--template-->
@{ Html.RenderPartial("TemplateRegion"); }
@section Bottom{
    <script type="text/javascript">
        window.teamId = '@team.ID';
        window.projectId = '@Html.Raw(project!=null?project.ID:null)';
        window.members= @Html.Raw(util.JsonSerialize(ViewBag.members));
        window.projects = @Html.Raw(util.JsonSerialize(ViewBag.projects));
    </script>
    <script type="text/javascript">
        $(function () {
            //为IE7做自适应
            if ($.browser.msie && $.browser.version.indexOf('7.') >= 0) {
                $('div.row-fluid div.span4').removeClass('span4').addClass('span3');
            }
        });
    </script>
}
