@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Issues</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="Stylesheet" href="@Url.Content("~/content/bootstrap/css/bootstrap.min.css")" />
</head>
<body style="padding: 10px">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#web_open" data-toggle="tab">Web Issues Open</a></li>
            <li><a href="#web_closed" data-toggle="tab">Web Issues Closed</a></li>
            <li><a href="#mobi_open" data-toggle="tab">Mobi Issues Closed</a></li>
            <li><a href="#mobi_closed" data-toggle="tab">Mobi Issues Closed</a></li>
            <li><a href="#ci" data-toggle="tab">Build Status</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="web_open">
                <ul id="web_open" class="nav nav-tabs nav-stacked">
                </ul>
            </div>
            <div class="tab-pane" id="web_closed">
                <ul id="web_closed" class="nav nav-tabs nav-stacked">
                </ul>
            </div>
            <div class="tab-pane" id="mobi_open">
                <ul id="mobi_open" class="nav nav-tabs nav-stacked">
                </ul>
            </div>
            <div class="tab-pane" id="mobi_closed">
                <ul id="mobi_closed" class="nav nav-tabs nav-stacked">
                </ul>
            </div>
            <div class="tab-pane" id="ci">
                <iframe src="http://teamcity.codebetter.com/viewType.html?tab=buildTypeStatusDiv&buildTypeId=bt744"
                    width="100%" height="400px" style="border: 0; overflow: hidden;"></iframe>
            </div>
        </div>
    </div>
    <!-- /tabbable -->
    <script type="text/javascript" src="@Url.Content("~/content/jquery/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/bootstrap/js/bootstrap.min.js")"></script>
    <script type="text/javascript">
    var issues_web_closed=@Html.Raw(ViewBag.web_closed);
    var issues_web_open=@Html.Raw(ViewBag.web_open);
    var issues_mobi_closed=@Html.Raw(ViewBag.mobi_closed);
    var issues_mobi_open=@Html.Raw(ViewBag.mobi_open);
    //var events=@Html.Raw(ViewBag.Events);
    </script>
    <script type="text/javascript">
        $(function () {
            render(issues_web_open, $('ul#web_open'));
            render(issues_web_closed, $('ul#web_closed'));
            render(issues_mobi_open, $('ul#mobi_open'));
            render(issues_mobi_closed, $('ul#mobi_closed'));

            function render(issues, $l) {
                $.each(issues, function (i, n) {
                    var labels = '';
                    $.each(n['labels'], function () { labels += ' <span class="label" style="background-color:#' + this['color'] + '">' + this['name'] + '</span> ' });

                    $l.append('<li><a><code>#'
                        + n['number'] + '</code> '
                        + '<span class="label ' + (n['state'] == 'open' ? 'label-important' : 'label-success') + '">' + n['state'] + '</span> '
                        + (n['assignee'] ? '<img src="' + n['assignee']['avatar_url'] + '" width="20px" style="border:1px #ccc solid"/> ' : '')
                        + '<b>' + n['title'] + '</b>'
                        + labels
                        + (n['comments'] > 0 ? ' <span class="badge badge-inverse">comments=' + n['comments'] + '</span> ' : '')
                        + '<span class="label label-info">by ' + n['user']['login'] + '</span> '
                        + '<code>' + n['created_at'] + '</code>'
                        + (n['body'] ? '<br/><br/><div class="alert alert-info">' + n['body'] + '</div>' : '')
                        + '</a></li>');
                });
            }

            //            $.each(events, function (i, n) {
            //                var labels = '';
            //                $('ul#event').append('<li><a>'
            //                        + '<code>' + n['event'] + '</code> '
            //                        + (n['actor'] ? '<img src="' + n['actor']['avatar_url'] + '" width="20px" style="border:1px #ccc solid"/> ' : '')
            //                        + '<b>' + n['issue']['title'] + '</b>'
            //                        + '<code>' + n['created_at'] + '</code>'
            //                        + '</a></li>');
            //            });
        });
    </script>
    @Html.Raw(this.Lang().web_analysis)
</body>
</html>
