@{
    //允许扩展第三方fetch任务
    var cs = ViewBag.Connections as IEnumerable<Cooper.Model.Accounts.AccountConnection>;
    var git = cs.FirstOrDefault(o => o is Cooper.Model.Accounts.GitHubConnection);
}
@if (git != null)
{
    <li><a class="changelist" id="github"><i class="icon-list-alt"></i><span>@this.Lang().from
        GitHub
        @this.Lang().of@this.Lang().task</span></a></li>
}