@{
    ViewBag.Title = this.Lang().my_task;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    body {
        padding: 0;
        padding-top: 10px;
    }
</style>
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row-fluid">
        <!--Main-->
        <div id="main" class="span8">
            @{ Html.RenderPartial("MainRegion"); }
        </div>
        <!--Detail-->
        <div id="detail_wrapper" class="span4">
        </div>
    </div>
</div>
<!--template-->
@{ Html.RenderPartial("TemplateRegion"); }
@section Bottom{
    <script type="text/javascript">
        $(function () {
            //为IE7做自适应
            if ($.browser.msie && $.browser.version.indexOf('7.') >= 0) {
                $('div.row-fluid div.span4').removeClass('span4').addClass('span3');
            }
        });
    </script>
}
