@{
    ViewBag.Title = this.Lang().my_task;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="margin-top: 10px;">
    <div class="row-fluid">
        <!--leftbar-->
        @{ Html.RenderLeftBar(); }
        <!--Main-->
        <div class="span6" style="border: 1px #ccc solid; background-color: #fff">
            @{ Html.RenderPartial("MainRegion"); }
        </div>
        <!--Detail-->
        <div id="detail_wrapper" class="span4" style="border: 1px #ccc solid; border-left: 0;
            padding: 5px 15px; overflow-y: auto; overflow-x: hidden; position: relative;">
        </div>
    </div>
</div>
<!--template-->
@{ Html.RenderPartial("TemplateRegion"); }
@section Bottom{
    <script type="text/javascript">
        $(function () {
            //自动调整到mini模式
            if ($(window).width() < 600) {
                location.href = url_task_mini;
                return;
            }
            //TODO:仅在变更时处理
            if (sys_versionFlag != 'debug')
                window.onbeforeunload = function () { return 'Cooper Task'; };
        });
    </script>
}
