@{
    ViewBag.Title = this.Lang().my_task;
    Layout = "~/Views/Shared/_Layout.cshtml";
        //mini模式 增加详情和列表的切换
}
<style type="text/css">
    body {
        padding: 0;
    }
    .todolist .row_task .cell_string input {
        width: 70%;
    }
</style>
<!--Main-->
<div id="main">
    @{ Html.RenderPartial("MainRegion", true); }
</div>
<!--Detail-->
<div id="detail_wrapper" style="display: none; padding: 5px 15px; overflow-y: auto;
    overflow-x: hidden; position: relative;">
</div>
<!--template-->
@{ Html.RenderPartial("TemplateRegion", true); }
@section Bottom{
    <script type="text/javascript">

    </script>
}
