<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--https://rgdsbwlyvx.database.windows.net/-->
    <!--<connectionString>Data Source=tcp:rgdsbwlyvx.database.windows.net,1433;Initial Catalog=cooper_dev;User ID=codesharp@rgdsbwlyvx;Password=COOPERcooper5323210;</connectionString>-->
    <connectionString>Server=10.13.23.80\dev;database=Cooper;uid=sa;pwd=System1234dev</connectionString>
    <!--<connectionString>Data Source=db.sdf</connectionString>-->
    <!--<connectionString>Server=9d8ecf7e-be7f-49a2-9b5b-a09e00d1afa4.sqlserver.sequelizer.com;Database=db9d8ecf7ebe7f49a29b5ba09e00d1afa4;User ID=dlpdvgzsvchbgacu;Password=kDWMxpWvcVh4miJXcQkqEnUzLzgvTS2k4XiVRPdZLpedgaGQDAbFYWs6Sva6iAJs;</connectionString>-->
  </properties>
</configuration>
