<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--github using codesharp org-->
    <gitClientId>852a4bb01a0b053add91</gitClientId>
    <gitClientSecret>8d1d2a95bb93cff75a4b6eef15fcb4d82db5a6c2</gitClientSecret>

    <!--google using codesharpwork@gmail.com-->
    <googleClientId>585828767504-jhidqan8k82bk5a0gsa44ui34vcjtf4q.apps.googleusercontent.com</googleClientId>
    <googleClientSecret>OJLFCqR5L1O39MihLjIz7Nze</googleClientSecret>
  </properties>
</configuration>
