<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--github-->
    <gitClientId>852a4bb01a0b053add91</gitClientId>
    <gitClientSecret>8d1d2a95bb93cff75a4b6eef15fcb4d82db5a6c2</gitClientSecret>
    
    <!--google-->
    <googleClientId>289815608949-278dfv1uuk91eq476i2lfri3vjqjapck.apps.googleusercontent.com</googleClientId>
    <googleClientSecret>otOwLw3Bhn7Mv0C1fRvywdMt</googleClientSecret>
  </properties>
</configuration>
