<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>
    <!--Log4net-->
    <facility id="logging"
              type="Castle.Facilities.Logging.LoggingFacility,CodeSharp.Core.Castles"
              loggingApi="log4net"
              configFile="application_config\log4net.config"    />
    <!--NHibernate-->
    <facility id="nhibernate"
              isWeb="true"
              type="Castle.Facilities.NHibernateIntegration.NHibernateFacility,CodeSharp.Core.Castles"
              configurationBuilder="CodeSharp.Core.Castles.FluentNHibernateConfigurationBuilder,CodeSharp.Core.Castles">
      <!--nhibernate.factory-->
      <factory id="nhibernate.factory">
        <settings>
          <item key="connection.connection_string" encrypt="true">#{cooperConnectionString}</item>
          <item key="connection.provider">#{connection_provider}</item>
          <item key="connection.driver_class">#{connection_driver_class}</item>
          <item key="dialect">#{dialect}</item>
          <item key="proxyfactory.factory_class">#{proxyfactory_factory_class}</item>
          <item key="cache.provider_class">#{cache_provider_class}</item>
          <!--查询缓存 仍需调用SetCache(true)-->
          <item key="cache.use_query_cache">true</item>
          <!--from 3.x will enabled by default-->
          <item key="use_proxy_validator">false</item>
        </settings>
        <assemblies>
          <!--扩展映射应优先-->
          <assembly>AliCooper.Model.Mappings</assembly>
          <assembly>Cooper.Model.Mappings</assembly>
        </assemblies>
      </factory>
    </facility>
    <!--ATM-->
    <facility id="autotransaction" type="Castle.Facilities.AutoTx.TransactionFacility,CodeSharp.Core.Castles" />
  </facilities>
</configuration>
