<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--github-->
    <gitScope>user,public_repo,repo,gist</gitScope>
    <git_api_issues>https://api.github.com/issues</git_api_issues>
    <gitOAuthTokenUrl>https://github.com/login/oauth/access_token</gitOAuthTokenUrl>
    <gitOAuthUrl>https://github.com/login/oauth/authorize</gitOAuthUrl>
    <gitOAuthUserUrl>https://api.github.com/user</gitOAuthUserUrl>

    <!--google-->
    <googleOAuth2TokenUrl>https://accounts.google.com/o/oauth2/token</googleOAuth2TokenUrl>
    <googleOAuth2Url>https://accounts.google.com/o/oauth2/auth</googleOAuth2Url>
    <googleOAuth2UserUrl>https://www.googleapis.com/oauth2/v1/userinfo</googleOAuth2UserUrl>
    <googleScope>https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/tasks https://www.googleapis.com/auth/calendar https://www.google.com/calendar/feeds https://www.google.com/m8/feeds https://www.google.com/m8/feeds/contacts/default/full</googleScope>
    <!--using codesharp gmail-->
    <googleClientId>585828767504.apps.googleusercontent.com</googleClientId>
    <googleClientSecret>EoRiUVUV1rkxSOU28BQzorFC</googleClientSecret>
    <googleClientId_mobi>585828767504-lai9bc86t7ldm6h6g3jkb48irc8qdl6q.apps.googleusercontent.com</googleClientId_mobi>
    <googleClientSecret_mobi>q8onMetXq89-RgnT4J3aWoBa</googleClientSecret_mobi>
    
    <!--文案 ZH-CN-->
    <!--Global-->
    <zhcn_webSiteSuffix>- WORK IN COOPER - OpenSource Task Management</zhcn_webSiteSuffix>
    <zhcn_error_occur>发生错误</zhcn_error_occur>
    <zhcn_error_and_retry_later>错误，请稍后再试</zhcn_error_and_retry_later>
    <zhcn_borrower_not_support>浏览器不支持</zhcn_borrower_not_support>
    <zhcn_sorry_borrower_not_support>抱歉，不支持您的浏览器，请您升级IE到最新版本或安装其他浏览器</zhcn_sorry_borrower_not_support>
    <zhcn_mobi_install>客户端安装</zhcn_mobi_install>
    <zhcn_download_address>下载地址</zhcn_download_address>
    <zhcn_recent_changes>
      <![CDATA[
      <li class="nav-header">最近更新v0.1</li>
        <li>
            <a onclick="$('#mobi_app').modal('show')">
                <i class="icon-download"></i> 
                支持多个移动平台的客户端版本
            </a>
        </li>
        <li><a><i class="icon-hand-right"></i> web版本支持移动终端显示</a></li>
        <li><a href="/per/mini"><i class="icon-resize-small"></i> Mini模式管理界面</a></li>
        <li><a href="/per/full"><i class="icon-resize-full"></i> Full模式管理界面</a></li>
        <li><a><i class="icon-repeat"></i> 不用担心不小心删除任务了，可以使用撤销删除功能</a></li>
        <li><a><i class="icon-list"></i> 增加任务表功能，更方便的划分/组织您的任务</a></li>
        <li><a><i class="icon-flag"></i> 团队、组织任务协同将在v0.2版本提供预览</a></li>
        <li><a target="_blank" href="/home/issues"><i class="icon-eye-open"></i> Issues/Bugs Trace</a></li>
      ]]>
    </zhcn_recent_changes>
    <zhcn_my_task>我的任务</zhcn_my_task>
    <zhcn_my_profile>我的设置</zhcn_my_profile>
    <zhcn_web_analysis>
      <![CDATA[
      <div style="display: none">
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F456565c04215b679919c4672e6b5805b' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '502109e8613f5d523600000f');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>
      </div>
      ]]>
    </zhcn_web_analysis>
    <zhcn_do_not_login_or_timeout>还未登录或登录超时</zhcn_do_not_login_or_timeout>
    <!--Account-->
    <zhcn_login>登录</zhcn_login>
    <zhcn_login_with_goole>使用谷歌账号登录</zhcn_login_with_goole>
    <zhcn_account>账号</zhcn_account>
    <zhcn_password>密码</zhcn_password>
    <zhcn_please_input_account>请输入账号</zhcn_please_input_account>
    <zhcn_please_input_password>请输入密码</zhcn_please_input_password>
    <zhcn_forget_password>忘记密码？</zhcn_forget_password>
    <zhcn_username_or_password_cannot_empty>请输入账号和密码</zhcn_username_or_password_cannot_empty>
    <zhcn_username_or_password_was_wrong>账号或密码错误</zhcn_username_or_password_was_wrong>
    <zhcn_loading>正在加载，请稍后...</zhcn_loading>
    <zhcn_login_success_and_redirect>登录成功，正在跳转...</zhcn_login_success_and_redirect>
    <zhcn_connect_success_and_redirect>连接成功，正在跳转...</zhcn_connect_success_and_redirect>
    <zhcn_personal_setting>个人设置</zhcn_personal_setting>
    <zhcn_profile>基本信息</zhcn_profile>
    <zhcn_connection>连接</zhcn_connection>
    <zhcn_about_sync>关于同步</zhcn_about_sync>
    <zhcn_about_sync_description>Cooper支持与您连接的账号进行同步，双向同步内容包含：任务、日历，一次性同步包含：通讯录、联系人</zhcn_about_sync_description>
    <zhcn_account_connection>账号连接</zhcn_account_connection>
    <zhcn_account_connection_description>您可以添加其他服务与您的Cooper账号连接，以便获得信息同步支持</zhcn_account_connection_description>
    <zhcn_add_google_connection>添加Google连接</zhcn_add_google_connection>
    <zhcn_add_git_connection>添加GitHub连接</zhcn_add_git_connection>
    <zhcn_cancel_connection>取消连接</zhcn_cancel_connection>
    <zhcn_confirm_cancel_connection>确定要取消该账号连接？</zhcn_confirm_cancel_connection>
    <zhcn_sync_now>立刻与该账号进行任务相关数据同步</zhcn_sync_now>
    <zhcn_sync_loading>正在同步...</zhcn_sync_loading>
    <zhcn_sync_complete>已同步</zhcn_sync_complete>
    <zhcn_sorry_already_connect_another>抱歉，{0}已经被连接至其他用户</zhcn_sorry_already_connect_another>
    <!--task-->
    <zhcn_task>任务</zhcn_task>
    <zhcn_complete>完成</zhcn_complete>
    <zhcn_priority>优先级</zhcn_priority>
    <zhcn_priority_today>尽快完成</zhcn_priority_today>
    <zhcn_priority_upcoming>稍后完成</zhcn_priority_upcoming>
    <zhcn_priority_later>迟些再说</zhcn_priority_later>
    <zhcn_priority_title>指定任务希望在何时处理</zhcn_priority_title>
    <zhcn_duetime>截止日期</zhcn_duetime>
    <zhcn_sort_by_duetime>按截止日期排序</zhcn_sort_by_duetime>
    <zhcn_share_to>分享到</zhcn_share_to>
    <zhcn_sync>同步</zhcn_sync>
    <zhcn_sync_to>同步至日历</zhcn_sync_to>
    <zhcn_do_not_have_connection_please>您还没有添加外部账号连接，请先</zhcn_do_not_have_connection_please>
    <zhcn_add>添加</zhcn_add>
    <zhcn_addNew>新建</zhcn_addNew>
    <zhcn_delete>删除</zhcn_delete>
    <zhcn_print>打印</zhcn_print>
    <zhcn_yes>是</zhcn_yes>
    <zhcn_no>否</zhcn_no>
    <zhcn_mouse>鼠标</zhcn_mouse>
    <zhcn_more>更多</zhcn_more>
    <zhcn_back>返回</zhcn_back>
    <zhcn_select_inverse>多选/反选</zhcn_select_inverse>
    <zhcn_sort>调整顺序</zhcn_sort>
    <zhcn_time>时间</zhcn_time>
    <zhcn_archive>归档</zhcn_archive>
    <zhcn_archive_finish>归档已完成的任务</zhcn_archive_finish>
    <zhcn_hide_archive>隐藏归档任务</zhcn_hide_archive>
    <zhcn_show_archive>显示归档任务</zhcn_show_archive>
    <zhcn_collapse>折叠</zhcn_collapse>
    <zhcn_personal_task_management>个人任务管理</zhcn_personal_task_management>
    <zhcn_task_deleted>个任务已删除，</zhcn_task_deleted>
    <zhcn_revoke>撤销</zhcn_revoke>
    <zhcn_by_priority_title>以优先级排序方式查看任务</zhcn_by_priority_title>
    <zhcn_by_duetime_title>以截止时间排序查看任务</zhcn_by_duetime_title>
    <zhcn_lose_conn>与Cooper失去连接</zhcn_lose_conn>
    <zhcn_retry_lose_conn>请您稍后再试...</zhcn_retry_lose_conn>
    <zhcn_can_not_edit_others_task>抱歉，不能编辑其他人的任务</zhcn_can_not_edit_others_task>
    <zhcn_new_tasklist>新建任务表</zhcn_new_tasklist>
    <zhcn_delete_tasklist>删除该任务表</zhcn_delete_tasklist>
    <zhcn_confirm_delete_tasklist>确定要删除当前任务表？任务表中的任务也将一起删除</zhcn_confirm_delete_tasklist>
    <zhcn_tasklist>任务表</zhcn_tasklist>
    <zhcn_from>来自</zhcn_from>
    <zhcn_of>的</zhcn_of>
    <zhcn_open_in_new_window>在新窗口中打开</zhcn_open_in_new_window>
    <zhcn_download_mobi>下载Cooper移动版</zhcn_download_mobi>
  </properties>
</configuration>
