<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <webSiteSuffix>- Cooper OpenSource Task Management - 基于任务的开源协同平台</webSiteSuffix>
    
    <!--github-->
    <gitScope>user,public_repo,repo,gist</gitScope>
    <git_api_issues>https://api.github.com/issues</git_api_issues>
    <gitOAuthTokenUrl>https://github.com/login/oauth/access_token</gitOAuthTokenUrl>
    <gitOAuthUrl>https://github.com/login/oauth/authorize</gitOAuthUrl>
    <gitOAuthUserUrl>https://api.github.com/user</gitOAuthUserUrl>
    
    <!--google-->
    <googleOAuth2TokenUrl>https://accounts.google.com/o/oauth2/token</googleOAuth2TokenUrl>
    <googleOAuth2Url>https://accounts.google.com/o/oauth2/auth</googleOAuth2Url>
    <googleOAuth2UserUrl>https://www.googleapis.com/oauth2/v1/userinfo</googleOAuth2UserUrl>
    <googleScope>https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/tasks https://www.googleapis.com/auth/calendar https://www.google.com/calendar/feeds https://www.google.com/m8/feeds https://www.google.com/m8/feeds/contacts/default/full</googleScope>
  </properties>
</configuration>
