<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--github using codesharp org-->
    <gitClientId>51dae722a801c955c89f</gitClientId>
    <gitClientSecret>9dac44cd9c327a335cfceb47aa77c20fdeb42aa8</gitClientSecret>

    <!--google using codesharpwork@gmail.com-->
    <googleClientId>585828767504.apps.googleusercontent.com</googleClientId>
    <googleClientSecret>EoRiUVUV1rkxSOU28BQzorFC</googleClientSecret>
  </properties>
</configuration>
