<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--github-->
    <gitClientId>51dae722a801c955c89f</gitClientId>
    <gitClientSecret>9dac44cd9c327a335cfceb47aa77c20fdeb42aa8</gitClientSecret>

    <!--google-->
    <googleClientId>289815608949.apps.googleusercontent.com</googleClientId>
    <googleClientSecret>V3Qet75TCvKd4DaLAEGVby78</googleClientSecret>
  </properties>
</configuration>
