<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--cooper.apphb.com-->
    
    <!--github using codesharp org-->
    <gitClientId>18b29c6f4d6601c42ee4</gitClientId>
    <gitClientSecret>18683998c3f18b81b7dc8396df0f2976b25857fa</gitClientSecret>
  </properties>
</configuration>
