@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout_Account.cshtml";
    var account = ViewBag.Account as Cooper.Model.Accounts.Account;
}

@{ Html.RenderPartial("Nav"); }

<div class="well">
  <label>Hi, @account.Name</label>
</div>


