@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@this.Lang().error_occur @this.Suffix()</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{ Html.RenderPartial("Style"); }
</head>
<body>
    <div class="container alert alert-danger" style="margin-top:50px">@ViewBag.Error</div>
</body>
</html>