<?xml version="1.0" encoding="utf-8" ?>
<config>
  <add key="DefaultServer" value="10.13.3.12:11211,10.13.3.13:11211" cachelong="" ismemcache="" memserverip="" keyprefix="wf_" explain="默认的Memcache缓存服务器" version="" callurl=""/>
  <!--DailyManage Cache-->
  <add key="Daily_PDMTasks" value="Daily_PDM_{0}" cachelong="3600,56000" ismemcache="true" memserverip="" keyprefix="wf_" explain="" version="v001,v002" callurl=""></add>
  <add key="Daily_TLTasks" value="Daily_TL_{0}" cachelong="3600" ismemcache="true" memserverip="" keyprefix="wf_" explain="" version="v002" callurl=""></add>
  <add key="Daily_TestTLTasks" value="Daily_TestTL_{0}" cachelong="3600" ismemcache="false" memserverip="" keyprefix="wf_" explain="" version="" callurl=""></add>
  <add key="Daily_TestTasks" value="Daily_wf_{0}" cachelong="3600" ismemcache="false" memserverip="" keyprefix="wf_" explain="" version="" callurl=""></add>
  <add key="Daily_DevTasks" value="Daily_Dev_{0}" cachelong="3600" ismemcache="false" memserverip="" keyprefix="wf_" explain="" version="" callurl=""></add>
  <add key="Daily_DevMTasks" value="Daily_DevM_{0}" cachelong="3600" ismemcache="false" memserverip="" keyprefix="wf_" explain="" version="" callurl=""></add>
  <add key="Daily_DBATLTasks" value="Daily_DBATL_{0}" cachelong="3600" ismemcache="false" memserverip="" keyprefix="wf_" explain="" version="" callurl=""></add>
  <add key="Daily_UCTasks" value="Daily_UC_{0}" cachelong="3600" ismemcache="false" memserverip="" keyprefix="wf_" explain="" version="" callurl=""></add>
  <add key="Daily_DBATasks" value="Daily_DBA_{0}" cachelong="3600" ismemcache="false" memserverip="" keyprefix="wf_" explain="" version="" callurl=""></add>
  <!--CategoryItem-->
  <add key="Item_ProductByLevel" value="Item_Product{0}_{1}" cachelong="1200" ismemcache="" memserverip="" keyprefix="wf_" explain="{0}:产品线类别{1}:级数" version="" callurl=""></add>
  <add key="Item_GetInfoByName" value="Item_Info_{0}_{1}" cachelong="" ismemcache="" memserverip="" keyprefix="wf_" explain="{0}:CategoryItemId,{1}:ItemName" version="" callurl=""></add>
  <add key="Item_ComboxBoxById" value="Item_List{0}" cachelong="600" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain="{0}:CategoryId CommonBoxCategory控件使用"></add>
  <add key="Item_DevGroupApplyTree" value="Item_DevGroupApplyTree" cachelong="3600,14400000" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="Item_PubDevGroupApplyTree" value="Item_PubDevGroupApplyTree" cachelong="3600,14400000" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="Item_DevGroupProductlineTree" value="Item_DevGroupProductlineTree" cachelong="3600,14400000" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="Item_DMAndPubDevGroupApplyTree" value="Item_DMAndPubDevGroupApplyTree" cachelong="3600,14400000" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="Item_DMAndPubProductlineTree" value="Item_DMAndPubProductlineTree" cachelong="3600,14400000" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="Item_AllProductlineTree" value="Item_AllProductlineTree" cachelong="3600,14400000" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="Item_AllProductlineApplyTree" value="Item_AllProductlineApplyTree" cachelong="3600,14400000" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="Item_TreeByType" value="Item_TreeBy{0}" cachelong="2400" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="Item_GetProductLineTreeByPath" value="Item_ProLineTreeByPath{0}{1}" cachelong="2400" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <!--Fault-->
  <add key="Fault_PlannedDowntime" value="Fault_PlannedDowntime{0}" cachelong="2400" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="Item_TDMSRequireTree" value="Item_TDMSTree{0}" cachelong="2400" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <!--User-->
  <add key="User_GetUserInfo" value="User_{0}" cachelong="60" ismemcache="" memserverip="" keyprefix="wf_" explain="{0}:username" version="" callurl=""></add>
  <add key="User_List" value="User_List" cachelong="" ismemcache="" memserverip="" keyprefix="wf_" explain="" version="" callurl=""></add>
  <add key="User_AllUsersTable" value="User_AllUsersTable" cachelong="144000" ismemcache="false" memserverip="" keyprefix="wf_" explain="用户控件缓存" version="" callurl=""></add>
  <add key="User_Favorite" value="User_Fav{0}{1}{2}" cachelong="600" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain="用户收藏{0}:username {1}:类别 {2}:数量"></add>
  <add key="User_taskCount" value="User_taskCount{0}" cachelong="600" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="User_applyCount" value="User_applyCount{0}" cachelong="600" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <!--Common-->
  <add key="NaviDataXML" value="NaviDataXML" cachelong="" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="RequestDirectory" value="RequestDirectory" cachelong="600" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="PhoneRequest" value="PhoneRequest" cachelong="600" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="PhoneAnswerSeat" value="PhoneAnswerSeat" cachelong="600" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
	<add key="CommonMemCache" value="CommonMemCache_key{0}" cachelong="600" ismemcache="false" memserverip="" keyprefix="" version="" callurl="" explain="公用缓存设置"></add>
  <!--Resource-->
  <add key="ResSystemData" value="ResSystemData" cachelong="60" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
    <add key="ResSystemAllDepartmentsJsonData" value="ResSystemAllDepartmentsJsonData" cachelong="144000" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
    <add key="ResSystemAllUsersJsonData" value="ResSystemAllUsersJsonData" cachelong="144000" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
    <!--merchant-->
  <add key="MerchantData" value="MerchantData{0}{1}" cachelong="1200" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <!--Resource-->
  <add key="ResumeCount" value="ResumeCount" cachelong="60" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="ProcessedJobApplicationCount" value="ProcessedJobApplicationCount" cachelong="60" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="CountCache" value="CountCache-{0}-{1}" cachelong="60" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="MemcacheStateProvider" value="MemcacheStateProvider_key_{0}" cachelong="1200" ismemcache="true" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <!-- Zhaopin QueryEngine-->
  <add key="QueryEngine_SearchResult" value="QueryEngine_SearchResult{0}" cachelong="1800" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <add key="QueryEngine_PositionList" value="QueryEngine_PositionList{0}" cachelong="1800" ismemcache="false" memserverip="" keyprefix="wf_" version="" callurl="" explain=""></add>
  <!--EAM-->
  <add key="EAMCache" value="EAMCache_{0}" cachelong="7200" ismemcache="true" memserverip="" keyprefix="eam_" version="" callurl="" explain=""></add>
</config>