<configuration>
  <properties>
    <gitClientId>852a4bb01a0b053add91</gitClientId>
    <gitClientSecret>8d1d2a95bb93cff75a4b6eef15fcb4d82db5a6c2</gitClientSecret>
    <googleClientId>289815608949-278dfv1uuk91eq476i2lfri3vjqjapck.apps.googleusercontent.com</googleClientId>
    <googleClientSecret>otOwLw3Bhn7Mv0C1fRvywdMt</googleClientSecret>
    <webSiteSuffix>- Cooper OpenSource Task Management</webSiteSuffix>
    <gitScope>user,public_repo,repo,gist</gitScope>
    <git_api_issues>https://api.github.com/issues</git_api_issues>
    <gitOAuthTokenUrl>https://github.com/login/oauth/access_token</gitOAuthTokenUrl>
    <gitOAuthUrl>https://github.com/login/oauth/authorize</gitOAuthUrl>
    <gitOAuthUserUrl>https://api.github.com/user</gitOAuthUserUrl>
    <googleOAuth2TokenUrl>https://accounts.google.com/o/oauth2/token</googleOAuth2TokenUrl>
    <googleOAuth2Url>https://accounts.google.com/o/oauth2/auth</googleOAuth2Url>
    <googleOAuth2UserUrl>https://www.googleapis.com/oauth2/v1/userinfo</googleOAuth2UserUrl>
    <googleScope>https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/tasks https://www.googleapis.com/auth/calendar https://www.google.com/calendar/feeds https://www.google.com/m8/feeds https://www.google.com/m8/feeds/contacts/default/full</googleScope>
    <connection_provider>NHibernate.Connection.DriverConnectionProvider</connection_provider>
    <connection_driver_class>NHibernate.Driver.SqlClientDriver</connection_driver_class>
    <dialect>NHibernate.Dialect.MsSql2008Dialect</dialect>
    <proxyfactory_factory_class>NHibernate.ByteCode.Castle.ProxyFactoryFactory,CodeSharp.Core.Castles</proxyfactory_factory_class>
    <cache_provider_class>NHibernate.Caches.SysCache.SysCacheProvider,CodeSharp.Core.Castles</cache_provider_class>
    <cooperConnectionString>RABhAHQAYQAgAFMAbwB1AHIAYwBlAD0AdABjAHAAOgByAGcAZABzAGIAdwBsAHkAdgB4AC4AZABhAHQAYQBiAGEAcwBlAC4AdwBpAG4AZABvAHcAcwAuAG4AZQB0ACwAMQA0ADMAMwA7AEkAbgBpAHQAaQBhAGwAIABDAGEAdABhAGwAbwBnAD0AYwBvAG8AcABlAHIAXwBkAGUAdgA7AFUAcwBlAHIAIABJAEQAPQBjAG8AZABlAHMAaABhAHIAcABAAHIAZwBkAHMAYgB3AGwAeQB2AHgAOwBQAGEAcwBzAHcAbwByAGQAPQBDAE8ATwBQAEUAUgBjAG8AbwBwAGUAcgA1ADMAMgAzADIAMQAwADsA</cooperConnectionString>
    <sysConfig_versionFlag>Debug</sysConfig_versionFlag>
    <sysConfig_compileSymbol></sysConfig_compileSymbol>
    <sysConfig_appName>CooperWeb</sysConfig_appName>
  </properties>
</configuration>