<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--cooper local-->
    <cooperConnectionString>UwBlAHIAdgBlAHIAPQAxADAALgAxADMALgAyADMALgA4ADAAXABkAGUAdgA7AGQAYQB0AGEAYgBhAHMAZQA9AEMAbwBvAHAAZQByADsAdQBpAGQAPQBzAGEAOwBwAHcAZAA9AFMAeQBzAHQAZQBtADEAMgAzADQAZABlAHYA</cooperConnectionString>
  </properties>
</configuration>
