<log4net debug="false">
  <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <param name="Encoding" value="UTF-8"/>
    <!--#{site}模板变量 用于指定当前的宿主名称-->
    <param name="File" value="c:\logs\#{site}\log.txt"/>
    <param name="AppendToFile" value="true"/>
    <param name="RollingStyle" value="Date"/>
    <param name="DatePattern" value="yyyy.MM.dd"/>
    <param name="StaticLogFileName" value="true"/>
    <param name="CountDirection" value="1"/>
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n"/>
    </layout>
  </appender>
  <appender name="trace" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
    </layout>
  </appender>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
    </layout>
  </appender>
  <appender name="aspnet" type="log4net.Appender.AspNetTraceAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <priority value="INFO"/>
    <appender-ref ref="rollingFile"/>
    <appender-ref ref="aspnet"/>
    <appender-ref ref="console"/>
  </root>
  <logger name="NHibernate">
    <level value="FATAL"/>
  </logger>
  <logger name="NHibernate.SQL">
    <level value="ERROR"/>
  </logger>
</log4net>