<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <!--cooper apphb-->
    <cooperConnectionString>UwBlAHIAdgBlAHIAPQBhADMAOAAxAGIAMAA0ADgALQA2ADcAYwAwAC0ANAA1ADQANwAtADgANAA1ADAALQBhADAAOQBmADAAMABmADAAMgA1AGMANwAuAHMAcQBsAHMAZQByAHYAZQByAC4AcwBlAHEAdQBlAGwAaQB6AGUAcgAuAGMAbwBtADsARABhAHQAYQBiAGEAcwBlAD0AZABiAGEAMwA4ADEAYgAwADQAOAA2ADcAYwAwADQANQA0ADcAOAA0ADUAMABhADAAOQBmADAAMABmADAAMgA1AGMANwA7AFUAcwBlAHIAIABJAEQAPQBtAGUAbAB0AGsAZQB0AGQAeQBqAHoAZQBkAGQAaQB2ADsAUABhAHMAcwB3AG8AcgBkAD0AeQBjAEYASABlAGMAVQBqAEoAMwBkAEMAegBwAFEAYQA3AFMAdABYAFgAegBjADgAdQB3AEMANQBmAEEAMgBqAFoAWgBrAGEAbQB0ADIAegB4AHEAawBFAGcAcQBSAFMAUAA0AG4AdwBYAEQAYgA3ADgARwBuAFEARwBZAGQAaQA7AA==</cooperConnectionString>
  </properties>
</configuration>
